body {
  padding-left: 20px;
  padding-right: 20px;
  /* height: 100%; */
}

/* banner section */

.banner {
  width: 1260px;
  height: 630px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("Banner.png");
  background-size: cover;
  background-position: center;
  position: relative;
  background-repeat: no-repeat;
}
.header {
  color: white;
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: "Roboto", sans-serif;
}

.heading {
  font-family: "Playfair Display", serif;
}

.banner-sub-heading {
  font-size: 90px;
  font-weight: 900;
  padding-top: 0;
  margin-top: 0;
}

/* banner-section done */

/* discount section */

.discount-header {
  color: red;
  font-size: 50px;
  font-weight: 900;
  font-family: "Roboto", sans-serif;
}

.discount-heading {
  color: rgba(255, 0, 0, 0.829);
  font-family: "Playfair Display", serif;
  margin-bottom: 0;
  padding-bottom: 0;
}

.categories {
  font-size: 30px;
  font-weight: 900;
  margin-top: 0;
  padding-top: 0;
  font-family: "Roboto", sans-serif;
}

.discount-img {
  width: 600px;
  height: 350px;
}

.discount-banner {
  margin-top: 60px;

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  text-align: center;
  margin-bottom: 90px;
}

/* discount section done */

/* party section */

.party-banner {
  width: 1260px;
  height: 630px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("Vectorrr.png");
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}

.party-text {
  color: white;
  text-align: left;
  margin-bottom: 60px;
}

.party-heading {
  font-size: 100px;
  margin-left: 100px;
  margin-bottom: 0;
  padding-bottom: 0;
  font-family: "Roboto", sans-serif;
}

.party-para {
  margin-left: 100px;
}

.btn {
  border: none;
  color: white;
  font-weight: 900;
  display: inline-block;
  margin-left: 100px;
  background-color: transparent;
}

.party-img {
  margin-right: 100px;
}

/* party section done */

/* Offer section */

.offer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding-bottom: 150px;
  margin-left: -94px;
}

.offer-heading {
  color: rgb(255, 72, 0);
}

.offer-header {
  font-size: 40px;
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  margin-top: 0;
  padding-top: 0;
}

.offer-para {
  width: 300px;
  height: 50px;
  padding-bottom: 100px;
  color: grey;
  font-family: "Playfair Display", serif;
  padding-top: 0;
  margin-top: 0;
}

.offer-img {
  width: 365px;
  height: 365px;
  border: 15px solid red;
  border-radius: 50%;
}

/* offer section done */

.year-header {
  font-size: 40px;
  color: red;
  font-family: "Roboto", sans-serif;
  font-weight: 900;
}

.year-para{
    width: 200px;
    height: 80px;
}

.year-img{
    padding-top: 20px;
}

.gifts {
  color: rgb(255, 72, 0);
  font-weight: bold;
  font-family: "Playfair Display", serif;
  margin-bottom: 0;
  padding-bottom: 0;
}

.gifts-header {
  font-size: 50px;
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  margin-top: 0;
  padding-top: 0;
  padding-bottom: 0;
}

.gift-para {
  padding-top: 0;
  margin-top: 0;
  padding-bottom: 25px;
  color: grey;
}

.products {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  margin-bottom: 60px;
}

.images:hover{
    background-color: yellowgreen;
}
/* Subscribe section */

.newsletter {
  background-color: hsl(0, 63%, 92%);
  width: 1260px;
  height: 630px;
  display: flex;
  justify-content: center;
  text-align: center;
  top: 50%;
  left: 50%;
  padding-top: 280px;
}

.news-header {
  font-family: "Roboto", sans-serif;
  font-size: 40px;
}

.news-para {
  width: 800px;
  font-family: "Playfair Display", serif;
}
.input {
  border: 20px solid transparent;
  border-radius: 50px 1px 1px 50px;
  margin-right: 0;
  padding-right: 0;
}

.subscribe {
  background-color: red;
  color: white;
  border: 20px solid transparent;
  border-radius: 15px 50px 50px 15px;
  text-align: center;
  font-size: 15px;
  font-weight: 600;
  padding-left: 0;
  margin-left: 0;
}

/* subscribe section done */

/* footer section */

.footer {
  background-color: rgb(32, 32, 70);
  width: 100%;
  height: 300px;
  padding-top: 80px;
  margin-left: 10px;
}

.footer-text {
  color: white;
  width: 300px;
  height: 50px;
  display: flex;
  justify-content: space-around;
  text-align: center;
  padding-left: 60px;
}

.icons {
  color: white;
}

.call-icon {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 10px;
}

.web-icon {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
/* web-img{
    padding-left: 12px; */

.hr-line {
  width: 50%;
  /* display: flex; */
  /* justify-content: center; */
  /* text-align: center; */
}
