
body{
    padding-left: 20px;
    padding-right: 10px;
    /* height: 100%; */
}
.banner{
    width: 1260px;
    height: 630px;
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('Banner.png');
    background-size: cover;
    background-position: center;
    position: relative;
    /* background-size: auto; */
    /* padding-left: 10px; */
    background-repeat: no-repeat;
}
.header{
    color: white;
    position: absolute;
    text-align: center;
    top: 50% ;
    left: 50%;
    transform: translate(-50%, -50%);

}

.heading{
    font-family: "Playfair Display", serif;
}


.banner-sub-heading{
    font-size: 90px;
    font-weight: 900;
    padding-top: 0;
    margin-top: 0;
}