body{
    padding-left: 20px;
    padding-right: 10px;
    /* height: 100%; */
}

/* banner section */

.banner{
    width: 1260px;
    height: 630px;
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('Banner.png');
    background-size: cover;
    background-position: center;
    position: relative;
    background-repeat: no-repeat;
}
.header{
    color: white;
    position: absolute;
    text-align: center;
    top: 50% ;
    left: 50%;
    transform: translate(-50%, -50%);

}

.heading{
    font-family: "Playfair Display", serif;
}


.banner-sub-heading{
    font-size: 90px;
    font-weight: 900;
    padding-top: 0;
    margin-top: 0;
}

/* banner-section done */

.discount-header{
    color: red;
    font-size: 50px;
    font-weight: 900;

}

.discount-heading{
    color: rgba(255, 0, 0, 0.829);
    font-family: "Playfair Display", serif;
    margin-bottom: 0;
    padding-bottom: 0;
}

.categories{
    font-size: 30px;
    font-weight: 900;
    margin-top: 0;
    padding-top: 0;
}

.discount-img{
    width: 600px;
    height: 350px;
}

.discount-banner{
    margin-top: 60px;
   
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    text-align: center;
    margin-bottom: 90px;
}


/* party section */

.party-banner{
    width: 1260px;
    height: 630px;
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('Vectorrr.png');
    background-repeat: no-repeat;
    display: flex;
    justify-content: center ;
    align-items: center;
    margin-bottom: 50px;
}

.party-text{
    color: white;
    text-align: left;
    margin-bottom: 60px;
}   

.party-heading{
    font-size: 100px;
    margin-left: 100px;
    margin-bottom: 0;
    padding-bottom: 0;
}

.party-para{
    margin-left: 100px;
}

.btn{
    border: none;
    color: white;
    font-weight: 900;
    display: inline-block;
    margin-left: 100px;
    background-color: transparent;
}

.party-img{
    margin-right: 100px;
}